@model Medigard.Models.Detail.DetailSliderViewModel

<section class="highlighting-banner">
    <figure class="banner-img">
        <img class="img-fluid" src="@Model.Banner" alt="">
    </figure>
</section>

