@font-face {
  font-family: 'medigard';
  src:  url('fonts/medigard.eot?dvhv37');
  src:  url('fonts/medigard.eot?dvhv37#iefix') format('embedded-opentype'),
    url('fonts/medigard.ttf?dvhv37') format('truetype'),
    url('fonts/medigard.woff?dvhv37') format('woff'),
    url('fonts/medigard.svg?dvhv37#medigard') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'medigard' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
  content: "\e90b";
}
.icon-faks:before {
  content: "\e900";
}
.icon-phone:before {
  content: "\e901";
}
.icon-map:before {
  content: "\e902";
}
.icon-message:before {
  content: "\e903";
}
.icon-email:before {
  content: "\e904";
}
.icon-user:before {
  content: "\e905";
}
.icon-facebook:before {
  content: "\e90c";
}
.icon-google:before {
  content: "\e906";
}
.icon-instagram:before {
  content: "\e907";
}
.icon-tired:before {
  content: "\e908";
}
.icon-clock:before {
  content: "\e90d";
}
.icon-running:before {
  content: "\e90a";
}
.icon-twitter:before {
  content: "\e909";
}
.icon-plus:before {
  content: "\e90e";
}
.icon-minus:before {
  content: "\e90f";
}
.icon-arrow-left:before {
  content: "\e910";
}
.icon-arrow-down:before {
  content: "\e911";
}
.icon-arrow-up:before {
  content: "\e912";
}
.icon-menu:before {
  content: "\e913";
}
.icon-close:before {
  content: "\e914";
}
.icon-comment:before {
  content: "\e915";
}
.icon-like:before {
  content: "\e916";
}
