<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="assets/img/favicon.ico" type="image/x-icon" />
    <title>Medigard</title>
    <!-- Stylesheet -->
    <link href="assets/css/components.min.css" rel="stylesheet">
    <link href="assets/css/default.min.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <header>
        <div class="container">
            <nav class="navbar navbar-expand-lg">

                <a class="navbar-brand" href="index.html">
                    <img class="img-fluid" src="assets/img/header-logo.png" alt="">
                </a>

                <button class="navbar-toggler" type="button" data-toggle="btn-site-nav">
                    <i class="icon icon-menu"></i>
                </button>

                <div class="navbar-collapse site-nav" id="siteNav">

                    <ul class="nav-list ml-auto">
                        <li class="nav-item">
                            <a data-toggle="anchor" class="nav-link" href="index.html#1">Medigard</a>
                        </li>
                        <li class="nav-item">
                            <a data-toggle="anchor" class="nav-link" href="index.html#2">İçindekiler</a>
                        </li>
                        <li class="nav-item-border-fix">
                            <a data-toggle="anchor" class="nav-link" href="index.html#3">
                                <img class="img-fluid center-image-Y" src="assets/img/q-10-icon.png" alt="" />
                            </a>
                        </li>
                        <li class="nav-item">
                            <a data-toggle="anchor" class="nav-link" href="index.html#4">Vitamin&Mineraller</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="detay.html">Sağlıklı Yaşam İpuçları</a>
                        </li>
                        <li class="nav-item">
                            <a data-toggle="anchor" class="nav-link" href="index.html#6">SSS</a>
                        </li>
                        <li class="nav-item">
                            <a data-toggle="anchor" class="nav-link" href="index.html#7">İletişim</a>
                        </li>
                    </ul>

                </div>
            </nav>
        </div>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <div class="footer-content-wrapper">
            <div class="container">
                <div class="footer-content">
                    <a class="left-logo d-lg-block d-none" href="#">
                        <img class="img-fluid" src="assets/img/footer-logo.png" alt="">
                    </a>

                    <ul class="footer-links">
                        <li>
                            <a class="link-item" href="#">Bilgi Toplumu Hizmetleri</a>
                        </li>
                        <li>
                            <a class="link-item" href="#">Kişisel Verilerin Koruması </a>
                        </li>
                        <li>
                            <a class="link-item" href="#" data-toggle="modal" data-target="#referanceModal">Referanslar</a>
                        </li>
                    </ul>

                    <a class="right-logo d-lg-block d-none" href="#">
                        <img class="img-fluid" src="assets/img/logo2.png" alt="">
                    </a>
                </div>

            </div>
        </div>

        <div class="footer-mobile-wrapper">
            <div class="container">
                <div class="footer-mobile">
                    <a class="left-logo" href="#">
                        <img class="img-fluid" src="assets/img/footer-logo.png" alt="">
                    </a>

                    <a class="right-logo" href="#">
                        <img class="img-fluid" src="assets/img/logo2.png" alt="">
                    </a>
                </div>
            </div>
        </div>

        <div class="container">


            <div class="footer-copright">
                <ul class="footer-links">
                    <li>
                        <a class="link-item" href="#">2019 © Tüm Hakları Saklıdır.</a>
                    </li>
                    <li>
                        <a class="link-item" href="#">2016125_Arnet5_Medigard5</a>
                    </li>
                </ul>
            </div>
        </div>

        <button class="btn btn-circle scroll-top d-none">
            <i class="icon icon-arrow-up"></i>
        </button>
    </footer>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="assets/js/jquery-3.4.0.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="assets/js/components.min.js"></script>
    <script src="assets/js/default.min.js"></script>

</body>
</html>