@model Medigard.Models.Home.HomeMainSectionExplanationViewModel

    <section class="general-section gray" data-id="4">
        <div class="container">
            <div class="section-header">
                <h3 class="title bordered bottom type-2">@Model.Title</h3>
                <div class="text">
                    <p>@Html.Raw(Model.Description)
                    </p>
                </div>
                <div class="subtitle">
                    <p>
                        @Model.SubTitle
                    </p>
                </div>
            </div>
        </div>
    </section>