@model Medigard.Models.Home.HomeMainSectionViewModel

    <section class="general-section" data-id="1">
        <div class="container">
            <div class="row">
                <div class="offset-lg-3 col-lg-18 col-24">
                    <div class="section-header">
                        <h3 class="title bordered bottom">@Model.Title</h3>
                        <div class="text">
                           @Html.Raw(Model.Description)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row content-row">

                    <div class="col-lg-12 col-24 order-xs-1 order-1 order-lg-0">
                        <div class="medigard-list">
                            @foreach (var item in Model.IconList)
                            {
                                <div class="item">
                                    <span>
                                        <i class="icon icon-@item.Icon"></i>
                                    </span>
                                    <p class="desc">@item.Description</p>
                                </div>
                            }

                        </div>
                    </div>
                    <div class="offset-lg-1 col-lg-11 col-24 order-0 order-lg-1">
                        <img class="img-fluid" src="@Model.Image" alt="" />
                    </div>
                </div>
            </div>
    </section>

