@model Medigard.Models.Home.HomeMainSectionBannerViewModel

    <section class="highlighting-banner">
        <figure class="banner-img">
            <img class="img-fluid" src="@Model.Image" alt="">
        </figure>
    </section>