@model Medigard.Models.Menu.MenuItemViewModel

<header>
    <div class="container">
        <nav class="navbar navbar-expand-lg">

            <a class="navbar-brand" href="index.html">
                <img class="img-fluid" src="/assets/img/header-logo.png" alt="">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="btn-site-nav">
                <i class="icon icon-menu"></i>
            </button>

            <div class="navbar-collapse site-nav" id="siteNav">
                <ul class="nav-list ml-auto">
                @foreach (var item in Model.MenuItems)
                {
                     
                        
                            
                                @if (item.HasImage == true)
                                {
                            <li class="nav-item-border-fix">
                                <a data-toggle="anchor" class="nav-link" href="@item.Link">
                                    <img class="img-fluid center-image-Y" src="@item.Image" alt="" />
                                </a>
                            </li>
                        }
                        else{
                            <li class="nav-item">
                                <a data-toggle="anchor" class="nav-link" href="@item.Link">@item.Title</a>
                            </li>
                        }

                       
                    
                }
                </ul>
            </div>
        </nav>
    </div>
</header>