/* iCheck plugin Flat skin, red
----------------------------------- */
.icheckbox_flat-red {
    display: block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    background: url(red.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_flat-red {
    background-position: 0 0;
}
.icheckbox_flat-red.checked {
    background-position: -22px 0;
}
.icheckbox_flat-red.disabled {
    background-position: -44px 0;
    cursor: default;
}
.icheckbox_flat-red.checked.disabled {
    background-position: -66px 0;
}

.iradio_flat-red {
    background-position: -88px 0;
}
.iradio_flat-red.checked {
    background-position: -110px 0;
}
.iradio_flat-red.disabled {
    background-position: -132px 0;
    cursor: default;
}
.iradio_flat-red.checked.disabled {
    background-position: -154px 0;
}

